body {
    background-image: url("visits-m.jpg");
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background: rgb(248, 233, 207);
    max-width: 50%;
    margin: auto;
    border: 3px solid burlywood;
    border-radius: 10px;
    margin-top: 5%;
    padding: 7%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 3px solid burlywood;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 250px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(86, 150, 150);
}

#save-btn {
    background: rgb(201, 217, 81);
}

#save-el {
    font-weight: bold;
}

@media (max-width: 740px) {

    .container {
        max-width: 80%;
        margin-top: 20%;

    }

    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 100px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    button {

        color: black;
        font-weight: bold;
        display: block;

    }

    #save-el {
        font-weight: bold;
    }


}